{% extends 'base.html' %}
{% block content %}
		<section style="margin-top: 70px">
			<form method="post" action="{% url 'signup' %}" role="login">
                {% csrf_token %}
                <div class="col-md-6 col-md-push-3">
                    <div class="form-group">
                        {{ signupform.username.label_tag }}
                        {{ signupform.username }}
				    </div>

                    <div class="form-group">
                        {{ signupform.name.label_tag }}
                        {{ signupform.name }}
                    </div>

                    <div class="form-group">
                        {{ signupform.birth.label_tag }}
                        {{ signupform.birth }}
                    </div>

                    <div class="form-group">
                        {{ signupform.email.label_tag }}
                        {{ signupform.email }}
                    </div>

                    <div class="form-group">
                        <select name="team" required class="form-control">
                            <option value="">팀</option>
{#                            {% for item in team %}#}
{#                                <option value="{{ item.cd }}">{{ item.cd_nm }}</option>#}
{#                            {% endfor %}#}
                        </select>
                    </div>

                    <div class="form-group">
                        {{ signupform.position.label_tag }}
                        {{ signupform.position }}

                    </div>

                    <div class="form-group">
                        {{ signupform.date_joined.label_tag }}
                        {{ signupform.date_joined }}
                    </div>

                    <button type="submit" name="go" class="btn btn-primary btn-block">생성</button>
                    <button type="button" name="go" class="btn btn-danger btn-block" onclick="location.href='/user_manager/list'">취소</button>
                </div>
			</form>
		</section>
{% endblock %}