{% extends 'base.html' %}
{% block content %}
    <div style="margin-top: 70px">
    <h3>직원 리스트</h3>
        <table class="table">
            <thead>
                <th>이름</th>
                <th>계정</th>
                <th>직책</th>
                <th>소속</th>
                <th>입사일</th>
            </thead>
            <tbody>
            {% for list in userlist %}
                <tr onclick="detail_form('{{ list.uid }}')">
                    <td>{{ list.name }}</td>
                    <td>{{ list.username }}</td>
                    <td>{{ list.position.codename }}</td>
                    <td>{{ list.team.name }}</td>
                    <td>{{ list.date_joined }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <form id="detail_form" action="{% url 'userdetail' %}" method="post">
    {% csrf_token %}
        <input type="hidden" id="uid" name="uid">
    </form>

    <script>
    function detail_form(user_id) {
        $('#uid').val(user_id);
        $('#detail_form').submit();
    }
    </script>

{% endblock %}