{% extends 'base.html' %}
{% block content %}
    <section style="margin-top: 70px">
        <table>
            <tr>
                <td>이름</td>
                <td>{{ data.name }}</td>
            </tr>
            <tr>
                <td>계정</td>
                <td>{{ data.username }}</td>
            </tr>
            <tr>
                <td>소속</td>
                <td>{{ data.team.name }}</td>
            </tr>
            <tr>
                <td>직책</td>
                <td>{{ data.position.codename }}</td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>{{ data.email }}</td>
            </tr>
            <tr>
                <td>입사일</td>
                <td>{{ data.date_joined }}</td>
            </tr>
        </table>
    <button class="btn btn-default" onclick="location.href=''">회원정보 수정</button>
    </section>
{% endblock %}