{% extends 'base.html' %}
{% block content %}
    <div style="margin-top: 70px">
    <h3>{{ request.user.name }}님 연차 리스트</h3>
    <p>잔여 연차일수 : {{ request.user.v_day }} 일</p>
    <button class="btn btn-default" onclick="location.href='{% url 'vacation_create' %}'">연차 신청</button>
        <table class="table">
            <thead>
                <th>번호</th>
                <th>연차종류</th>
                <th>신청일</th>
                <th>상태</th>
            </thead>
            <tbody>
            {% for list in vacation_list %}
                <tr onclick="detail_form('{{ list.id }}')">
                    <td>{{ list.id }}</td>
                    <td>{{ list.vacation_type.codename }}</td>
                    <td>{{ list.created }}</td>
                    <td>
                        {% if list.first_approval == "" %}
                            신청
                        {% elif list.first_approval == "Y" and list.last_approval == "" %}
                            1차 승인
                        {% elif list.first_approval != "Y" and list.last_approval != "Y" %}
                            승인
                        {% elif list.first_approval == "N" or list.last_approval == "N" %}
                            반려
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <form id="detail_form" action="" method="post">
    {% csrf_token %}
        <input type="hidden" id="user_id" name="user_id">
    </form>

    <script>
    function detail_form(user_id) {
        $('#user_id').val(user_id);
        $('#detail_form').submit();
    }
    </script>

{% endblock %}