{% extends 'base.html' %}
{% block content %}
    <section style="margin-top: 70px">
			<form method="post" action="{% url 'vacation_create' %}" id="frm">
                {% csrf_token %}
                <div class="col-md-6 col-md-push-3">
                    <div class="form-group">
                        {{ vacationform.vacation_type.label_tag }}
                        {{ vacationform.vacation_type }}
				    </div>

                    <div class="form-group">
                        {{ vacationform.start.label_tag }}
                        {{ vacationform.start}}
				    </div>

                    <div class="form-group">
                        {{ vacationform.end.label_tag }}
                        {{ vacationform.end }}
				    </div>


                    <div class="form-group">
                        {{ vacationform.reason.label_tag }}
                        {{ vacationform.reason }}
                    </div>

                    <div class="form-group">
                        {{ vacationform.first_approval_user.label_tag }}
                        <button class="btn btn-default" type="button" onclick="popup_approval('first')">선택</button>
                        <input type="hidden" name="first_approval_user" id="id_first_approval_user" value="{{ first_approval.user_id }}">
                        <input type="text" id="id_first_approval_user_name" disabled class="form-control" value="{{ first_approval.user_nm }}">
                    </div>

                    <div class="form-group">
                        {{ vacationform.last_approval_user.label_tag }}
                        <button class="btn btn-default" type="button" onclick="popup_approval('last')">선택</button>
                        <input type="hidden" name="last_approval_user" id="id_last_approval_user" value="{{ last_approval.user_id }}">
                        <input type="text" id="id_last_approval_user_name" disabled class="form-control" value="{{ last_approval.user_nm }}">
                    </div>
                    <input type="hidden" id="flag">
                    <button type="button" name="go" class="btn btn-primary btn-block" onclick="check_submit();">생성</button>
                    <button type="button" name="go" class="btn btn-danger btn-block" onclick="location.href='/user_manager/list'">취소</button>
                </div>
			</form>
		</section>
    <script>
    $(function () {
        $('.datepicker').datepicker({
            dateFormat : 'yy-mm-dd'
        });
    });

    function popup_approval(flag) {
        $('#flag').val(flag);
        var popUrl = "{% url 'select_users' %}";
        var popOption = "width=400, height=600";
        var openWin;
        openWin = window.open(popUrl, "", popOption);

    }

    function check_submit() {
        var data = {'start' : $('#id_start').val(), 'end':$('#id_end').val(), 'csrfmiddlewaretoken':'{{ csrf_token }}'};
        $.ajax({
            url : "{% url 'vacation_check' %}",
            data : data,
            dataType : 'json',
            type : 'POST',
            success : function (data) {
                if(data.result == "SUCCESS"){
                    alert('신청되었습니다.');
                    $('#frm').submit();
                }else{
                    alert('일정이 중복되었습니다.');
                }
            }
        })
    }
    </script>
{% endblock %}