{% extends 'base.html' %}
{% block content %}
    <section style="margin-top: 70px">
        <input type="hidden" id="pk" value="{{ info.pk }}">
        <div class="form-group">
            <label>이름</label>
            <h4>{{ info.user.name }}</h4>
        </div>

        <div class="form-group">
            <label>신청구분</label>
            <h4>{{ info.vacation_type.codename }}</h4>
        </div>

        <div class="form-group">
            <label>휴가 시작일</label>
            <h4>{{ info.start }}</h4>
        </div>

        <div class="form-group">
            <label>휴가 종료일</label>
            <h4>{{ info.end }}</h4>
        </div>

        <div class="form-group">
            <label>사유</label>
            <h4>{{ info.reason }}</h4>
        </div>

        <div class="form-group">
        {% if flag == 'all' %}
            {% if info.first_approval == 'N' or info.last_approval == 'N' %}
                <h4>반려된 신청입니다.</h4>
            {% elif info.first_approval_user_id == request.user.uid and info.first_approval == 'Y' %}
                <h4>1차 승인한 신청입니다.</h4>
            {% else %}
                <button name="agree" id="agree" class="btn btn-default" onclick="agree()">승인</button>
                <button name="denied" id="denied" class="btn btn-danger" onclick="denied()">반려</button>
            {% endif %}
        {% endif %}

        {% if flag == 'my' %}
            <button name="cancel" id="cancel" class="btn btn-danger" onclick="cancel()">취소</button>
        {% endif %}

        </div>
    </section>

    <script>
    function agree() {
        if(confirm('승인하시겠습니까?') == true){

            $.ajax({
                url: "/vacations/agree/",
                type : "POST",
                data : {'v_id' : $('#pk').val(), 'csrfmiddlewaretoken':'{{ csrf_token }}' },
                dataType : "json",
                success : function (data) {
                    if(data.result == 'SUCCESS'){
                        alert('승인되었습니다');
                    }
                }
            })
        }

    }

    function denied() {
        if(confirm('반려하시겠습니까?') == true){
            $.ajax({
                url: "/vacations/denied/",
                type : "POST",
                data : {'v_id' : $('#pk').val(), 'csrfmiddlewaretoken':'{{ csrf_token }}' },
                dataType : "json",
                success : function (data) {
                    if(data.result == 'SUCCESS'){
                        alert('반려되었습니다');
                    }
                }
            })
        }
    }
    
    function cancel() {
        if(confirm('취소하시겠습니까?') == true){
            $.ajax({
                url: "/vacations/cancel/",
                type : "POST",
                data : {'v_id' : $('#pk').val(), 'csrfmiddlewaretoken':'{{ csrf_token }}' },
                dataType : "json",
                success : function (data) {
                    if(data.result == 'SUCCESS'){
                        alert('반려되었습니다');
                    }
                }
            })
        }
    }

    </script>
{% endblock %}