{% extends 'base.html' %}
{% block content %}
    <section style="margin-top: 70px">
        <div class="form-group">
            <label>이름</label>
            <h4>{{ info.user.name }}</h4>
        </div>

        <div class="form-group">
            <label>신청구분</label>
            <h4>{{ info.get_vacation_type_display }}</h4>
        </div>

        <div class="form-group">
            <label>휴가 시작일</label>
            <h4>{{ info.start }}</h4>
        </div>

        <div class="form-group">
            <label>휴가 종료일</label>
            <h4>{{ info.end }}</h4>
        </div>

        <div class="form-group">
            <label>사유</label>
            <h4>{{ info.reason }}</h4>
        </div>

        <div class="form-group">
            <button name="agree" id="agree" class="btn btn-default">승인</button>
            <button name="denied" id="denied" class="btn btn-danger">반려</button>
        </div>
    </section>

    <script>
    function agree() {
        $.ajax({
            url: "",
            type : "POST",
            data : "",
            dataType : "json",
            success : function (data) {

            }
        })
    }

    function denied() {
        $.ajax({
            url: "",
            type : "POST",
            data : "",
            dataType : "json",
            success : function (data) {

            }
        })
    }

    </script>
{% endblock %}